body {
  margin: 85px 0 0 0;
}

header {
  position: fixed;
  top: 0px;
  width: calc(100% - 40px);
  height: 35px;
  background: #000;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
}
.nav {
  display: flex;
  gap: 20px;
}
.menu-icon {
  font-size: 24px;
  display: none;
}

/* 여기에 해더 반응형 코드를 작성해주세요 (.nav, .menu-icon)*/

/* ===============================*/
